//
// Button colors manager
//==========================

.big-button__button,
.split-screen__button,
.button {

  &.orange {
    background-color: $orange;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.green {
    background-color: $green;
  }

  &.olive {
    background-color: $lightOlive;
  }

  &.red {
    background-color: $red;
  }

  &.yellow, &.olive {
    color: $darkBlue;
  }
}

.button {
  &:hover, &:focus, &:active {
    background-color: $white;
    color: $blue;
  }
}

.split-screen__button,
.big-button__button {
  &:hover, &:focus, &:active {
    background-color: $green;

    &.green {
      background-color: $blue;
    }

    &.green, &.yellow {
      color: $white;
    }
  }
}

.big-button__button,
.split-screen__button,
.button {

  &.gray {
    background-color: #ced2b7;
    color: $darkBlue;

    &:hover, &:focus, &:active {
      background-color: #d1d2d6;
      color: #cc4b14;
    }
  }

  &.wordpress {
    background-color: $colorWordPress;

    &:hover, &:focus, &:active {
      background-color: lighten( $colorWordPress, 20% );
    }
  }
}