
.qa--icon {
  float: right;
  background-color: $qaLighterColor;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: $darkBlue;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  padding-left: 0.8px;
}