.cta-qualifier {
  position: relative;
  margin: 40px 0;
  overflow: hidden;

  @media screen and (min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.cta-qualifier__block {
  text-align: center;
  padding: 20px;
  font-size: 15px;
  font-weight: 300;

  @media screen and (min-width: 768px) {
    margin: 0;
    float: left;
    width: 50%;
    min-height: 175px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 50%;

    &.--width-33p {
      width: 33%;
    }

    &.--width-66p {
      width: 66%;
    }

  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;

    &.--width-25p {
      width: 25%;
    }

    &.--width-33p {
      width: 33%;
    }

    &.--width-66p {
      width: 66%;
    }
  }

  &.--background-olive {
    background-color: $lightOlive;
  }

  &.--background-red {
    background-color: $red;
  }

  &.--background-blue {
    background-color: $darkBlue;
  }

  &.--background-green {
    background-color: $green;
  }

  &.--background{
    &-red, &-blue, &-green {
      color: $white;
    }
  }
}

.cta-qualifier__number {
  display: block;
  font-size: 26px;
  font-weight: 500;

  @media screen and (min-width: 1280px) {
    font-size: 36px;
  }
}

.cta-qualifier__increment {
  display: block;
  font-size: 18px;
  font-weight: 400;

  @media screen and (min-width: 1280px) {
    font-size: 28px;
  }
}