.embedded-nav {
  position: relative;
  overflow: hidden;
  margin: 40px auto;

  ul {
    position: relative;

    .entry-content &, &, .entry-content & > li {
      list-style-type: none;
      margin: 0;
      margin-left: 0;
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      @include outer-container;
      @include display(flex);
      @include flex-wrap(wrap);
    }
  }

  li {
    width: 100%;
    margin-right: 0;

    padding: 10px;
  }

  a {
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 400;
  }
}

.embedded-nav li {

  body.content-sidebar & {
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }

  body.full-width-content & {

    @media screen and (min-width: 768px) and (max-width: 1399px) {
      width: 50%;
    }

    @media screen and (min-width: 1400px) {
      width: 33.3333333333%;
    }
  }
}