/* Primary  Navigation
--------------------------------------------- */

.nav-primary {
	text-align: left;
	overflow: auto;
	height: 100%;

	@media screen and (min-width: 768px) {
		text-align: right;
	}

	.wrap {
		padding: 0;
		position: relative;
	}

	a {
		color: $white;
	}

	a:hover,
	a:focus,
	a:active,
	.current-menu-item > a {
		color: $orange;
		border: 0;
		outline: 0;
	}

	.menu {
		position: relative;
	}

	.menu-item {
		text-align: left;
		display: block;

		@media screen and (min-width: 1025px) {
			@include rem(font-size, 18px);
		}

		a {
			padding: 5px 10px;
		}
	}

	.social-links {
		margin-top: 40px;
		text-align: left;

		@media screen and (min-width: 1025px) {
			margin-top: 20px;
		}
	}
}