.icon-sprite,
.icon--arrow-right,
.icon--arrow-left,
.icon--arrow-squiggly-right,
.icon--arrow-squiggly-left {
  background: url(#{$image--path}/element-sprites.png) no-repeat 0 0 transparent;
  display: block;
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 40px;
}

.icon-sprite--content {

}