
.button,
a.button,
.entry-content a.button {
  &.--technical,
  &.--business,
  &.--project-management,
  &.--career-development {
    color: $darkBlue;

    &:hover {
      border-color: $darkBlue;
      background-color: $darkBlue;
    }
  }

  &.--technical {
    border-color: $colorTechnical;
    background-color: $colorTechnical;
    color: $white;

    &:hover {
      background-color: $white;
      color: $colorTechnical;
    }
  }

  &.--business {
    border-color: $colorBusiness;
    background-color: $colorBusiness;

    &:hover {
      color: $colorBusiness;
    }
  }

  &.--project-management {
    border-color: $colorPM;
    background-color: $colorPM;

    &:hover {
      color: $colorPM;
    }
  }

  &.--career-development {
    border-color: $colorCareer;
    background-color: $colorCareer;
    color: $white;

    &:hover {
      background-color: $white;
      color: $colorCareer;
    }
  }
}