.faculty--grid {
  overflow: hidden;

  @include outer-container;
  @include display(flex);
  @include flex-wrap(wrap);

  .entry-content &, &, .entry-content & > li {
    list-style-type: none;
    margin: 0;
    margin-bottom: 15px;
  }
}


.faculty--card {
  border-bottom: 0;
  color: $darkBlue;
  overflow: hidden;

  &::after {
    opacity: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: $lightOlive;
    border-width: 20px;
    margin-left: -20px;
    transition: all .3s .36s ease;
  }
}

[data-panel-state="active"] .faculty--card::after {
  opacity: 1;
}

.faculty--block {
  background-color: $white;
  color: $darkBlue;

  position: relative;
  min-height: 300px;
  width: 100%;
  margin-right: 0;

  @media screen and (min-width: 480px) and (max-width: 1023px) {
    // 2 columns
    @include span-columns(6);
    margin-right: 0;
  }

  @media screen and (min-width: 1024px) and (max-width: 1199px) {
    // 3 columns
    @include span-columns(4);
    margin-right: 0;
  }

  @include media(1200px) {
    // 4 columns
    @include span-columns(3);
    margin-right: 0;
  }
}

.teacher, .faculty {
  &-info, &-name, &-byline {
    display: block;
  }
}

// New stuff
.faculty--block,
.faculty--profile-panel {
  position: relative;
}

.faculty--block {
  cursor: pointer;
  transition: opacity .8s ease;
  float: left;
}

.faculty--profile-panel {
  display: block;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  background-color: $lightOlive;
  z-index: 55;
  padding: 30px;
  margin: 30px 0;
}

.profile-close--button {
  float: right;
}