/*
Widgets
---------------------------------------------------------------------------------------------------- */

// font sizing is set in base > elements > headings
.widgettitle {
	margin: 0 0 24px;
}

.sidebar .widgettitle a {
	border: 0;
	color: $darkBlue;
}


